/* Home page */

.home_page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    background-color:rgb(209, 232, 255);
    padding: 10px;
    

}

/* FAQ Content */

/* Form CSS below */

.newsletterform {
    float: right;
    padding: 2%;
    margin: 0 1.5%;
    width: 45%;
    background-color: rgb(209, 232, 255);
    
}

/* Google maps */

.google_map_widget {
    float: left;
    margin: 0 1.5%;
    width: 40%;;
    background-color: rgb(209, 232, 255);
    padding: 1%;
}

.google_map_widget .text_map {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.google_map_widget .google_map {
    text-align: center;
    
}

/* Contact us form */

.contact_us {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    background-color: rgb(209, 232, 255);
    float: right;
    width: 45%;
    margin: 0 1.5%;
    margin-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
}

/* Content for covenant page */

.covenant_map {
    background-color:rgb(209, 232, 255);
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.covenant_map .covenant_content {
    float: right;
    margin: 0 1.5%;
    width: 50%;
    text-align: left; 

}

.covenant_map .covenant_image {
   float: left;
   margin: 0 1.5%;
   width: 50%;
   
}

/* Covenant Form Content */

.covenant_form {
    background-color:rgb(209, 232, 255);
    text-align: left;
    width: 400px;

}

/* Content for board page (row 1) */
.boardimages_row1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.boardimages_row1 .board_content {
    background-color:rgb(209, 232, 255);
    padding-top: 8px;
    padding-bottom: 5px;
    width: 13%;
    float: left;
    margin: 0 6%;
    
}

/* Content for board page (row 2) */
.boardimages_row2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.boardimages_row2 .board_content {
    background-color:rgb(209, 232, 255);
    padding-top: 8px;
    padding-bottom: 5px;
    width: 13%;
    float: left;
    margin: 3.5% 9%;
    
}

/* CSS for background image properties */

body {
    background: 
      /* top, transparent red */
      linear-gradient(
        rgba(123, 161, 193, 0.90), 
        rgba(123, 161, 193, 0.90)
      ),
      /* your image */
      url("img/background.jpg");
  }

/* Commitee Page */

#commiteeparagraph {
    background-color: rgb(209, 232, 255);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}




/* Navagation bar CSS below  */



.navbar_properties .nav_menu ul {
    text-align: center;
    list-style-type: none;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;    
    

}
.navbar_properties .nav_menu ul li {
    
    padding: 10px;
    display: inline;
    
    
}

.navbar_properties .nav_menu ul li a {
    
    text-decoration: none;
    color: rgb(123, 161,193);
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 25px;
}   


.navbar_properties .nav_menu ul li a:hover{
    color: rgb(35, 65, 88);
    text-decoration:underline;
}

.navbar_properties .nav_menu .logo {
    float: left;
    margin: 0 0%;
    width: 5%;
}

/* BOARD IMAGE CSS */

